<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Amoeba</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
	  <link rel="stylesheet" type="text/css" href="/css/build.css">
	  <!-- <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"> -->
	  <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"> -->
	</head>
	<body>
		<header>Amoeba <i></i></header>			
			<div class="homeOverlay">
				<h1>Amoeba</h1>				
				<div class="btnContainer">					
					<button class="btn btn-primary singleUpload">Single Upload</button>
					<button class="btn btn-primary multiUpload">Multiple Upload</button>
				</div>
			</div>
			<div class="container-fluid sidePannel">
			  <div class="row content customContainer">
			    <div class="col-sm-4 col-md-4 sidenav">
			    <!-- tabs section -->
			    <ul class="nav nav-tabs" role="tablist">
			       <li role="presentation"><a href="#singleTab" aria-controls="singleTab" role="tab" data-toggle="tab">Single upload</a></li>
			       <li role="presentation"><a href="#multiTab" aria-controls="multiTab" role="tab" data-toggle="tab">Multiple upload</a></li>			       
			     </ul>
			    <!-- tabs section -->
			    	<div class="tab-content">
				    <div class="singleUploadContainer tab-pane" id="singleTab" role="tabpanel">
					    <form class="container-fluid" id="imageUploadForm" name="uploadForm" enctype="multipart/form-data">	    
						   <!-- <input id="selectedImage" type="file" name="imageFile"> -->
						   <p>Please select image to be uploaded</p>
						   <label for="selectedImage" class="btn btn-primary">
						       <i class="glyphicon glyphicon-search"></i> Browse
						   </label>
						   <input id="selectedImage" type="file" name="imageFile"/>
						   <input type="text" name="filename" id="fileNameDisplayBox" disabled>
						   <!-- Progress bar -->
						   <div class="progress">
						     <div class="progress-bar progress-bar-striped active progressBar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
						       <span class="sr-only">45% Complete</span>
						     </div>
						   </div>
						   <!-- Progress bar -->
						   <button type="submit" class="btn btn-primary uploadButton">
						   	  <i class="glyphicon glyphicon-upload"></i> Upload
						   </button>    
					    </form>
					      <div class="container-fluid imageContainer" id="imageContainer">
					      		<img src="./uploads/originals/placeholder.png" id="placeholderImage">			      
								<div class="layer"></div>
								<div class="croppedImg">
									
								</div>
					      </div>
					      <div class="minimalOperations">
					      		<div class="sliderCheckBox">
					      			<input type="checkbox" name="invertCheck" id="invertCheckBoxInput" value="1">
					      			<label for="invertCheckBoxInput"></label>			      			
					      		</div><span>Invert</span>
					      		<div class="sliderCheckBox">
					      			<input type="checkbox" name="invertCheck" id="flipCheckBoxInput" value="1">
					      			<label for="flipCheckBoxInput"></label>			      			
					      		</div>
					      		<span>Flip</span>
					      		<div class="sliderCheckBox">
					      			<input type="checkbox" name="invertCheck" id="greyScaleCheckBoxInput" value="1">
					      			<label for="greyScaleCheckBoxInput"></label>			      			
					      		</div>
					      		<span>Greyscale</span>
					      </div>
				      </div>
				      <div class="multipleUploadContainer tab-pane" id="multiTab" role="tabpanel">
				      	<!--  -->
				      </div>
				      </div>
			    </div>

			    <div class="col-sm-8 col-md-8 rightPanel">			    	
			    	<div class="reorderSection">
				    	<div class="dragIconHolder">
				    		<img class="dragIcon" src="./uploads/originals/drag.png">Drag to re-order the operations the way you want your image to be processed.
				    	</div>		    	
				    	<ul class="operationsOrder"></ul>
			    	</div>
			    	<div><span>After you upload your image, choose operations to be done with it:</span></div>
					<div id="cropPanel">						
						<label class="btn btn-primary btn-sm btnSize">
							<input id="cropCheck" type="checkbox" data-toggle="toggle" data-target="#cropSlider"> Crop
						</label>						
					
						<div id="cropSlider" class="buttonPanel">
						    <div class="btn-group labelsSection" data-toggle="buttons">
						      <label class="btn btn-primary cropLbl">
						        <input type="radio" id="option1" autocomplete="off" value="200" name="cropRadio"> 200 x 200
						      </label>
						      <label class="btn btn-primary cropLbl">
						        <input type="radio" id="option2" autocomplete="off" value="150" name="cropRadio"> 150 x 150
						      </label>
						      <label class="btn btn-primary cropLbl">
						        <input type="radio" id="option3" autocomplete="off" value="100" name="cropRadio"> 100 x 100
						      </label>
						      <label class="btn btn-primary cropLbl">
						        <input type="radio" id="option4" autocomplete="off" value="50" name="cropRadio"> 50 x 50
						      </label>
						    </div>						    	
						</div>
					</div>
					<div id="resizePanel">						
						<label class="btn btn-primary btn-sm btnSize">
							<input id="resizeCheck" type="checkbox" data-toggle="toggle" data-target="#resizeSlider"> Resize
						</label>

						<div id="resizeSlider" class="buttonPanel">
						   <div class="btn-group labelsSection" data-toggle="buttons">
					     	  <label class="btn btn-primary">
					     	    <input type="radio" name="options" id="option1" autocomplete="off" value="800"> X-Large (800px)
					     	  </label>
					     	  <label class="btn btn-primary">
					     	    <input type="radio" name="options" id="option2" autocomplete="off" value="500"> Large (500px)
					     	  </label>
					     	  <label class="btn btn-primary">
					     	    <input type="radio" name="options" id="option3" autocomplete="off" value="300"> Medium (300px)
					     	  </label>
					     	  <label class="btn btn-primary">
					     	    <input type="radio" name="options" id="option3" autocomplete="off" value="150"> Small (150px)
					     	  </label>
						   </div>
						</div>
					</div>
					<div id="formatPanel">					
						<label class="btn btn-primary btn-sm btnSize">
							<input id="formatCheck" type="checkbox" data-toggle="toggle" data-target="#formatSlider"> Format
						</label>

						<div id="formatSlider" class="buttonPanel">
						    <div class="btn-group labelsSection" data-toggle="buttons">
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option1" autocomplete="off" value="png"> PNG
							  </label>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2" autocomplete="off" value="jpg"> JPG
							  </label>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3" autocomplete="off" value="gif"> GIF
							  </label>
							</div>
						</div>
					</div>						
					<div>
					<!-- <div class="minimalOperations">
			      		<div class="sliderCheckBox">
			      			<input type="checkbox" name="invertCheck" id="invertCheckBoxInput" value="1">
			      			<label for="invertCheckBoxInput"></label>			      			
			      		</div><span>Invert</span>
			      		<div class="sliderCheckBox">
			      			<input type="checkbox" name="invertCheck" id="flipCheckBoxInput" value="1">
			      			<label for="flipCheckBoxInput"></label>			      			
			      		</div>
			      		<span>Flip</span>
			      		<div class="sliderCheckBox">
			      			<input type="checkbox" name="invertCheck" id="greyScaleCheckBoxInput" value="1">
			      			<label for="greyScaleCheckBoxInput"></label>			      			
			      		</div>
			      		<span>Greyscale</span>
			      </div> -->
					<div class="multiGenerateCheckBox">
						<input type="checkbox" name="multiGenerate" id="multiGenerateCheckBoxInput" value="1">
						<label for="multiGenerateCheckBoxInput"></label>
						
					</div>
					<span>Do you want the images generated at each step? <i>(Keep unchecked, if you want the final processed image only)</i></span>
					</div>

					<!-- <label class="btn btn-primary btn-sm btnSize">
						<input id="cropCheck" type="checkbox" data-toggle="toggle" data-target="#cropSlider"> Crop
					</label> -->
					<div class="submitBtnContainer submitChanges">
						<button type='button' class="btn  btn-block btn-primary">PROCESS</button>
					</div>		
					

			    </div>
			  </div>
			</div>		
		<footer class="container-fluid">
		  <p>Footer Text</p>
		</footer>
			
		<script type="text/javascript" src='/js/jquery-3.2.1.min.js'></script>		
		<!-- <script type="text/javascript" src='/bootstrap/js/bootstrap.js'</script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/main1.js"></script>
		<!-- <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script> -->
	</body>
</html>
