<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Image upload</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="login-page">
	  <div class="form">	    
	    <form id="uploadFormSubmit" class="login-form" name="uploadForm" enctype="multipart/form-data">
	      <input id="imageInput" type="file" name="imageFile"/>
	      <p>What you want to do with the image?</p>
	      <input id="crop" class="check" type=checkbox name="crop-operation" value="crop"><span>Crop</span></br>
	      <div class="cropdimensions">
	      <p>Width</p>
      	  <input type=text placeholder="Enter width of the cropped image" name="cropWidth"></br>
      	  <p>Height</p>      	  
      	  <input type=text placeholder="Enter height of the cropped image" name="cropHeight"></br>
      	  </div>
	      <input id="resize" class="check" type=checkbox name="resize-operation" value="resize"><span>Resize</span></br>
	      <div id="dimensions">
		      <select>		      	  
				  <option value="xl">800 x 800</option>
				  <option value="l">500 x 500</option>
				  <option value="s">300 x 300</option>
				  <option value="xs">150 x 150</option>
			  </select>
			  <p></p>
		  </div>		  
		  <input id="format" class="check" type=checkbox name="format-operation" value="format"><span>Convert</span></br>
		  <div id="formats">
			  <select name="formatsSelect">
				  <option value="jpg">jpg</option>
				  <option value="png">png</option>
				  <option value="gif">gif</option>			  
			  </select>
		  </div>
		  <p>Do you want all the generated images? <i>(if, you want the processed image only, please select <b>NO</b>)</i></p>
		  <select>
			  <option value="yes">YES</option>
			  <option value="no">NO</option>			  			 
		  </select>
		  <p>Select the order in which you want your file to be processed</p>
		  <div class="ulSection">
		  	<ul class="operation-section"></ul>
		  </div>
	      <button type="submit" value="Submit" name="submit-form">Upload</button>     
	    </form>
	  </div>
	</div>
<script type="text/javascript" src='/js/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>