<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Image download</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">	
</head>
<body>
	<div class="login-page">
	  <div class="form">	    
	    <form class="login-form">	    
	      <input id="searchText" type="text" placeholder="Enter file name" />	        
	      <p>Dimensions</p>
	      <input class="check" type=radio name="dimensions" value="mobile"><span>Mobile</span></br>
		  <input class="check" type=radio name="dimensions" value="tablets"><span>Tablets</span></br>	
		  <input class="check" type=radio name="dimensions" value="desktops"><span>Desktops</span></br>
		  <input class="check" type=radio name="dimensions" value="large-desktops"><span>Large-desktops</span>
		  <p>Formats</p>
		  <input class="check" type=radio name="formats" value="mobile"><span>JPEG</span></br>
		  <input class="check" type=radio name="formats" value="tablets"><span>PNG</span></br>
		  <button type="submit" name="Upload">Submit</button>      
	    </form>
	  </div>
	</div>	
	<script type="text/javascript" src='/js/jquery-3.2.1.min.js'></script>
	<script type="text/javascript" src="/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>	
</body>
</html>